
body {
    background-color: rgb(242, 243, 247);
    margin: 0;
    padding: 100px;
  }
  
  .container {
    background-color: white;
    max-width: 700px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: rgb(102, 118, 123);
    margin-top: 1rem;
  }
  
  label {
    display: block;
    color: black;
    margin-top: 1.5rem;
  }
  
  .required {
    color: red;
  }
  
  .form-group {
    margin-top: 0.5rem;
  }
  
  .form-control {
    width: 100%;
    padding-right: 30px;
  }
  
  .position-relative {
    position: relative;
  }
  
  .toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 1.5rem;
  }
  
  .btn {
    height: 35px;
    padding: 0 15px;
  }
  