<div class="background">
<div class="container">
    <h5 class="title">Change Password</h5>
  
    <section>
      <label>Email <span class="required">*</span></label>
      <div class="form-group">
        <input type="password" class="form-control" />
      </div>
    </section>
  
    <section>
      <label>Current Password <span class="required">*</span></label>
      <div class="form-group">
        <input type="password" class="form-control" />
      </div>
    </section>
  
    <section>
      <label>New Password <span class="required">*</span></label>
      <div class="form-group">
        <input type="password" class="form-control" />
      </div>
    </section>
  
    <section>
      <label>Confirm Password <span class="required">*</span></label>
      <div class="form-group position-relative">
        <input id="password-input" type="password" class="form-control" />
        <span class="toggle-icon" (click)="togglePassword()">
          <i [class]="passwordVisible ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
        </span>
      </div>
    </section>
  
    <div class="button-group">
      <button type="button" (click)="goBack()" class="btn btn-secondary">Go Back</button>
      <button type="button" class="btn btn-primary">Update my password</button>
    </div>
  </div>
</div>