<div class="container mt-5" style="height: 85px;width:300vh;" id="first_one">
        <div class="row">
            <!-- Left Section -->
            <div class="col-4">
                <div class="row">
                    <div class="card shadowhover" style="border: white;">
                        <!-- Ticket by request checkbox -->
                        <div>
                            <div class="form-check my-4">
                                <input 
                                    class="form-check-input" 
                                    (click)="requestShow = !requestShow" 
                                    type="checkbox" 
                                    id="flexCheckDefault" 
                                />
                                <label class="form-check-label" for="flexCheckDefault">
                                    Ticket by request
                                </label>
                            </div>

                            <!-- Requested by input -->
                            <section *ngIf="requestShow">
                                <label class="mt-3" style="color: black;">Requested by <span style="color: red;">*</span></label><br>
                                <select class="mt-2 form-control" [(ngModel)]="formData.requestedBy">
                                    <option *ngFor="let i of requestBy" [value]="i">{{ i }}</option>
                                    <option value="">Select an option</option>
                                </select>
                                <div class="row">
                                    <a class="d-flex justify-content-end" style="text-decoration: none;">Add User</a>
                                </div>
                            </section>

                            <!-- Mode of request input -->
                            <section *ngIf="requestShow">
                                <label class="mt-3" style="color: black;">Mode of request</label><br>
                                <select class="form-control" [(ngModel)]="formData.modeOfRequest">
                                    <option *ngFor="let i of modeOfRequest" [value]="i">{{ i }}</option>
                                    <option value=""></option>
                                </select>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- Category Block -->
                <div class="row shadowhover" style="background-color: white; padding: 15px;">
                    <section>
                        <label class="mt-3" style="color: black;">Category</label><br>
                        <select class="form-control" [(ngModel)]="formData.category">
                            <option *ngFor="let i of firstDropdown" [value]="i">{{ i }}</option>
                        </select>
                    </section>

                    <section>
                        <label class="mt-2" style="color: black;">Priority</label><br>
                        <select class="form-control" [(ngModel)]="formData.priority">
                            <option *ngFor="let i of secondDropdown" [value]="i">{{ i }}</option>
                        </select>
                    </section>

                    <section>
                        <label class="mt-2" style="color: black;">Group</label><br>
                        <select class="form-control" [(ngModel)]="formData.group">
                            <option *ngFor="let i of thirdDropdown" [value]="i">{{ i }}</option>
                        </select>
                    </section>

                    <section>
                        <label class="mt-2" style="color: black;">Agent</label><br>
                        <select class="form-control" [(ngModel)]="formData.agent">
                            <option *ngFor="let i of fourthDropdown" [value]="i">{{ i }}</option>
                        </select>
                    </section>
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-7 shadowhover" style="background-color: white; margin-left:20px;">
                <div class="form-group">
                    <label class="mt-3" style="color: black;">Subject</label>
                    <input class="form-control mt-1 square-border" [(ngModel)]="formData.subject" placeholder="Enter subject" />
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-2">
                            <div class="btn-group mt-1" role="group">
                                <button type="button" (click)="bar = !bar" [class.btn-info]="bar" class="btn">Cc</button>
                                <button type="button" (click)="bar2 = !bar2" [class.btn-info]="bar2" class="btn">Bcc</button>
                            </div>
                        </div>
                        <div *ngIf="bar" class="form-group col-12 mt-1">
                            <label style="color: black;">Cc</label>
                            <input class="form-control square-border" placeholder="Cc" />
                        </div>
                        <div *ngIf="bar2" class="form-group col-12 mt-1">
                            <label style="color: black;">Bcc</label>
                            <input class="form-control square-border" placeholder="Bcc" />
                        </div>
                    </div>
                </div>

                <!-- Description Area -->
                <section>
                    <div class="form-group">
                        <label class="mt-3" style="color: black;">Description (Optional)</label>
                        <div class="editor2 form-control" contenteditable="true" [(ngModel)]="formData.description"></div>
                    </div>
                </section>

                <!-- File Upload and Submit -->
                <div class="row my-3">
                    <div class="col-6">
                        <input type="file" (change)="onFileSelected($event)" />
                        <button class="btn btn-secondary" (click)="uploadFile()">Submit file</button>
                    </div>
                    <div class="col-2 offset-4">
                        <button class="btn btn-primary square-border" (click)="submitData()">Submit a ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
