<div class="tickets-body" >
    <div class="div1">
        <div>
            <select class="unresolved">
                <option value="unresolved_tickets">Unresolved tickets (13)</option>
            </select>
            <br>
            <select class="sorted">
                <option>Sorted by Raised Date </option>
            </select>
        </div>
        <div>
            <div class="search">
                <input type="search" placeholder="Search Ticket" class="searchbox"><i
                    class="bi bi-arrow-repeat searchicon"></i>
            </div>
            <div class="sortby">
                <span>
                    <select class="sort">
                        <option>Channel </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Company </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Category </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Department </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Priority </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Status </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Group </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Agent </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Requester </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Tag </option>
                    </select>
                </span>
                <span>
                    <select class="sort">
                        <option>Due By </option>
                    </select>
                </span>
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="btn1">Shaz kk</button>
        <button class="btn2">Clear all</button>
    </div>
    <div class="tickets-list">
        <div>
            <i class="bi bi-person-circle user"></i>
            <h6 style="position: relative; left: 90px; bottom: 15px; color: #494949;">Owner Name</h6>
            <p style="font-size: 12px; color: #818181; position: relative; bottom: 20px; left: 69px;">date of booking
                and app</p>
        </div>
        <div class="sub">
            <h4 style="color: rgb(76, 165, 201); position: relative; right: 400px; top: 30px;">#4952 - Fw: ERROR</h4>
            <p style="font-size: 16px; color: #959494; position: relative; right: 400px; top: 20px;">Last activity :
                Status changed by name around date </p>
            <p style="color: #d2d2d2; opacity: 60%;letter-spacing:3px;position: relative; right: 400px; top: 5px;">
                ----------------------------------------------------------------------------</p>
            <button class="btn btn-outline-warning btnopen">Open<i class="bi bi-caret-down-fill"
                    style="font-size: 10px;"></i></button>
            <div class="sublist">
                <div>
                    <h6 style="font-size: 16px; color: #959494; position: relative; right: 400px; bottom: 10px;">
                        Category</h6>
                    <p style="font-size: 17px; color: #414141; position: relative; right: 400px; bottom: 10px;">Problem
                    </p>
                </div>
                <div>
                    <h6 style="font-size: 16px; color: #959494; position: relative; right: 400px; bottom: 10px;">
                        Priority</h6>
                    <p style="font-size: 17px; color: #414141; position: relative; right: 400px; bottom: 10px;">Medium
                    </p>
                </div>
                <div>
                    <h6 style="font-size: 16px; color: #959494; position: relative; right: 400px; bottom: 10px;">Group
                    </h6>
                    <p style="font-size: 17px; color: #414141; position: relative; right: 400px; bottom: 10px;">DOTS PDC
                    </p>
                </div>
                <div>
                    <h6 style="font-size: 16px; color: #959494; position: relative; right: 400px; bottom: 10px;">Agent
                    </h6>
                    <p style="font-size: 17px; color: #414141; position: relative; right: 400px; bottom: 10px;">Owner
                    </p>
                </div>
                <div class="overdue">
                    <span style="color: red;">Response Overdue</span><span style="color: #979696;"> (a month
                        ago)</span><br>
                    <span style="color: red;">Resolve Overdue</span><span style="color: #979696;"> (5 month ago)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="pagebuttons">
        <div>
            <select class="selctpage">
                <option>10</option>
            </select>
            <span style="color: #777777;"> per page</span>
        </div>
        <div class="pagebtn">
            <button>First</button>
            <button>Previous</button>
            <button>1</button>
            <button>2</button>
        </div>
    </div>
</div>