#background {
    background-color: #e8e8e8;
    margin-top: 20px;
}

#allgroup{
    margin-left: 880px;
}
#bar{
    margin-top: -49px;
    margin-left: 1219px;
}
#line{
    margin-top: -50px;
    margin-left: 1250px;
}

