/* You can add global styles to this file, and also import other style files */
@import 'assets/bootstrap/css/bootstrap.min.css';


/* Default background for the logged-out state */
body.logged-out {
    background:
        radial-gradient(ellipse at 20% 20%, #35234b 0%, transparent 70%),
        radial-gradient(ellipse at 60% 20%, #2975bf 0%, transparent 70%),
        radial-gradient(ellipse at 100% 20%, #3d54b1 0%, transparent 70%),
        radial-gradient(ellipse at 100% 100%, #9f3c54 0%, transparent 70%),
        radial-gradient(ellipse at 20% 100%, #362d6f 0%, transparent 70%);
    background-blend-mode: screen;
    height: 100vh;
}

/* Background color for the logged-in state */
body.logged-in {
    background-color: #e8e8e8;
}
